.user-avarta-img{
    img{
        width:32px;
        border-radius: 50%;
    }
}
.user-infor{
    padding-left: 1.2rem;
}
.user__vip{
   color: aqua;
   font-size:1.3rem;
   padding: 0.3rem 0 0 .5rem;
}
.user-offer{
    margin-top: 2rem ;
    padding: .5rem .5rem;
    border-radius: .5rem;
    transition: all .2s ease;
    &:hover{
        background-color: rgb(236, 236, 236)
    }
}